@value makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.matchingPreviewBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow-y: scroll;
}

.registerBtn{
  width: 100px;
  height: 30px;
  background-color: #E8EBEE;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchingUiBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.matchingUl {
  margin-right: 30px;;
}



@media screen and (max-width: mediaQuery) {
  .matchingPreviewBox {
    width: 100%;
  }
}