@value makerWhite from '../../common/colors.css';
.matchingPreviewBox {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 58vh;
  overflow-y: scroll;
}

.matchingBox {
  display: flex;
  align-items: center;
  height: 162px;
  border: 1px solid #dee2e6;
  margin-bottom: 10px;
}

.gymImg {
  width: 200px;
  height: 140px;
}

.matchingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-size: 15px;
  font-weight: 00;
  margin-left: 10px;
}

.matchingInfo div {
  margin-top: 1px;
}

.mattchingUI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 15px;
}

.mattchingUI button {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7f7f7f;
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.mattchingUI div {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7f7f7f;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}
