@value mediaQuery from '../../common/size.css';
@value makerWhite from '../../common/colors.css';

.matchingSection {
  background-color: makerWhite;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wiseSaying {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.matchingSectionTitle {
  height: 35px;
  text-align: center;
  font-size: 1.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}


@media screen and (max-width: mediaQuery) {
  .wiseSaying {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .matchingSectionTitle { 
    font-size: 0.95em;
  }
}