.navbar {
  width: 100%;
  background: white;
  color: black;
  height: 60px;
  justify-content: center;
}

.img {
  width: 80px;
  height: 60px;
}

.navbar_contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contentsBox {
  text-decoration: none;
}

.contentBox {
  width: 100px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: black;
}

.logoutBtn {
  font-size: 12px;
  width: 60px;
  height: 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 3px;
}
