.matchingBox {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 162px;
  border: 1px solid #dee2e6;
  margin-bottom: 10px;
}

.gymImg {
  width: 50%;
  max-width: 200px;
  height: 140px;
}


.matchingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-bottom: 10px;
  font-weight: 600;
  margin-left: 10px;
  font-size: 15px;
}

.matchingInfo div {
  margin-top: 1px;
}


.mattchingUI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 15px;
}

.mattchingUI button {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7f7f7f;
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.mattchingUI a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.mattchingUI div {
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7f7f7f;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.modifyUI, .deleteUI {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ebee;
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-right: 10px;
}

@media screen and (max-width: mediaQuery) {
  .gymImg {
    width: 80px;
  }


}

