@value makerGrey from  './common/colors.css';

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: makerGrey;
}
